/* 
    색깔 테마
    출처 https://digitalsynopsis.com/design/beautiful-color-gradient-palettes/ 
 */
    :root {
        --jaebin-blue-1:#7bD5F5;
        --jaebin-blue-2:#787FF6;
    }

/* 헤더:배경에 그라데이션 들어가있는곳 전체 설정 */
.header {
    background-image: linear-gradient(90deg, var(--jaebin-blue-1), var(--jaebin-blue-2));
    border-radius: 15px;
    padding: 15px;
    color: #423e3e;
}

/* 헤더의 p 태그 설정 */
.header p{
    text-align: left;
}

/* 헤더 span 태그 설정 (배경음악쪽) */
.header span{
    text-align: right;
}

/* 플레이어는 따로 다시 설정 */
.header player{
    align-items: right;
}

/* 
    타이틀 컨테이너
    사용된 곳 -> "자기소개 페이지"라 적힌 h1태그 & 바로가기, 위의 p태그랑 span태그    
   
*/
.title-container{
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
    margin: 0 auto;
}

/* 
    페이지 제목 설정
 */
.title-container h1{
    font-size: xx-large;
    font-weight: bolder;
    margin:0;
}

/* 바로가기 설정 */


/* 바로가기 가로로 나열 */
.menu li {
    display: inline;
}

/* 바로가기 안에 하이퍼링크 밑줄 없앰 */
.menu a{
    text-decoration-line: none;
}

/* 하이퍼링크에 마우스 올려놨을 때 */
.menu a:hover{
    background-color: #917efd;
    font-weight: bolder;
    border-radius: 5px;
    padding: 2px;
    color: #e6dfff;
}

/*
    자기소개쪽

    <레이아웃 구상>
    사진           | 내가 쓴 자기소개
    내가 쓴글  | 
    
*/
.introduce {
    display: flex;
    gap: 10px;
}

/*
    취미 / 꿈,좋아하는 책, 이메일 주소 쪽
    
*/
.hobbyNdream {
    display:flex;
    justify-content: space-between;
    gap: 10px;
}

/* 
    취미
    레이아웃 비율 1:1로 하려고 flex-basis 50%로 줌
*/
.left-content{
    flex-basis: 50%;
    padding: auto;
}

/*
    꿈, 좋아하는 책, 이메일 주소
    마찬가지로 50%
*/
.right-content{
    flex-basis: 50%;
    padding: auto;
}

/* 책 중앙에 배치 */
.books {
    text-align: center;
    align-items: center;
}

/* 취미랑 꿈 사이 퍼런 세로줄 설정 */
.divider {
    width: 2px;
    margin: 6px 0;
    background: var(--jaebin-blue-2);
    align-self: stretch;
}

/* 섹터마다 있는 구분자 설정 */
hr {
    border: 1px solid var(--jaebin-blue-2);
}

/* 유튜브 링크 제목 */
#media-title {
    font-weight: bold;
}

/* 섹터 제목 설정(취미, 꿈, 좋아하는 책, 이메일 주소, 시간표) */
#article {
    background-color: var(--jaebin-blue-1);
    padding: 10px;
    border-radius: 5px;
}

/* 시간표 외곽선 설정 */
#pos5 table {
    border: 2px solid var(--jaebin-blue-2);
    border-collapse: collapse;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 0 2px var(--jaebin-blue-2);
    margin: auto;
}

/* 책 표지 사진 크기 설정 */
.books img{
    width: 50%;
}

/* 시간표 테이블에서 내용 있는 셀만 표시*/
.content{
    border: 1px solid var(--jaebin-blue-2);
    padding: 1%;
    text-align: center;
}

/* content 셀 안에 있는 링크 밑줄 없앰 */
.content a{
    text-decoration-line: none;
}

/* 셀 위에 마우스 올리면 배경색 바꿈 */
.content:hover{
    background-color: var(--jaebin-blue-2);
}

/* 셀 위에 마우스 올리면 텍스트 색 바꾸고 볼드로 바꿈 */
.content:hover a{
    color: #423e3e;
    font-weight: bolder;
}

/* footer 중앙정렬 */
footer {
    text-align: center;
}